@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
/*@import url('https://fonts.googleapis.com/css?family=VT323');*/
/*@import url('https://fonts.googleapis.com/css?family=Bad+Script');*/
@import url('https://fonts.googleapis.com/css?family=Jura');
html, body {
  background: #D4D4D4;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Julius Sans One', monospace;
}
