.award-background {
  background: blanchedalmond;
  height: 800px;
}
.award-text {
  color: #ff7055;
  padding-top: 100px;
  font-size: 3em;
  text-align: center;
  animation-delay: 500ms;
}

i.trophies {
  z-index: -1;
  padding: 0.5em;
  width: 100%;
  margin: auto;
  text-align: center;
  color: #5B2314;
  font-size: 10em;
}
.trophy-a {
  animation-delay: 1s;
}
.trophy-b {
  animation-delay: 1.5s;
}
.trophy-c {
  animation-delay: 2s;
}

.cup {
  padding-top: 3rem;
}
.trophy-detail-1 {
  animation-delay: 2.5s;
}
.trophy-detail-2 {
  animation-delay: 3s;
}
.trophy-detail-3 {
  animation-delay: 3.5s;
}
.trophy-detail-text {
  text-align: center;
}
#rchoice {
  animation-delay: 4s;
  width: 250px;
  transform: translateX(70px);
  padding-top: 2rem;
}
#rchoice2 {
  animation-delay: 4.5s;
  width: 250px;
  transform: translateX(-70px);
  padding-top: 2rem;

}
@media only screen and (max-width: 768px) {
  .award-background {
    height: 1800px;
  }
  #rchoice, #rchoice2 {
    transform: translateX(0);
  }
}

