.parallax5 {
  background: #523838;
}

.movie {
  display: block;
  margin: auto auto;
  width: auto;
  padding-top: 10rem;
}
.about-blurb-container {
  text-align: center;
  font-size: 3rem;
  font-family: 'Jura', sans-serif;
  color: aliceblue;
  padding: 5rem;
  animation-delay: 500ms;
}

#line1 {
  animation-delay: 1s;
}

#line2 {
  animation-delay: 1.5s;
}

#line3 {
  animation-delay: 2s;
}

#line4 {
  animation-delay: 2.5s;
}
@media only screen and (max-width: 768px) {
  .parallax5 {
    min-height: 230px;
  }
}
@media only screen and (max-width: 1280px) {
  .movie {
    padding-top: 2rem;
    width: 700px;
    height: 500px;
  }
}
@media only screen and (min-width: 1440px) {
  .movie {
    height: 500px;
    width: 800px;
    padding-top: 2rem;
  }
}