.parallax6 {
  min-height: 800px;
  background: #dbdbdb;
}

.contact-tiles {
  padding: 0.5em;
  width: 100%;
  margin: auto;
  text-align: center;
  color: #696969;
  font-size: 8em;
}
.tiles :hover {
  color: #200D07;
}

.tiles {
  text-align: center;
  margin-top: 10em;
  border-radius: 33px;
}

.info-tiles-below {
  padding-bottom: 3em;
}
#overlay {
  background: transparent;
  position: relative;
  width: 333px;
  height: 333px;
  top: 333px;
  margin-top: -333px;
}

.contact-tile-txt {
  font-family: 'Julius Sans One', monospace;
  padding-top: 2em;
  text-align: center;
}
.contact-tile-txt > a {
  text-decoration: none;
}
.days {
  color: #706051;
}
.contact-tile-txt > a :hover {
  text-shadow: 1px 1px rgba(0, 0, 0, .5);
}
.hours {
  color: #C4A956;
}