.social-btns {
  padding-top: 3em;
  text-align: center;
  vertical-align: center;
  padding-bottom: 3em;
}
.social-btn:hover {
  animation: rotateBtns infinite 1s ease-in-out;
}

@keyframes rotateBtns {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}